header ul li {
	display: list-item;
	font-size: 16pt;
	padding-bottom: 6px;
}

#current::before {
	content: "> ";
}

#current::after {
	content: " <";
}

.rss-sitemap {
	margin-bottom: -26px;
}

iframe {
	display: none;
}

footer {
	font-size: 10pt;
}
