header ul li {
	display: list-item;
	font-size: 12pt;
	padding-bottom: 6px;
}

#current::before {
	content: "> ";
}

#current::after {
	content: " <";
}

.rss-sitemap {
	margin-bottom: -26px;
}

iframe {
	display: none;
}

footer {
	font-size: 10pt;
	text-align: center;
}

footer ul li {
	display: list-item;
	padding-top: 6px;
}

footer ul li::before {
	content: ""!important;
}


